.headerContainer {
  border: 2px solid pink;
  display: flex;
  padding: 5px;
}

.avatarBox {
  margin-right: 2rem;
}

.imageThumbnail {
  height: 60px;
  width: 60px;
  border-radius: 100px;
}

.displayName {
  font-weight: bold;
  margin-right: 1rem;
}

.username {
  color: pink;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.date {
  color: grey;
  font-size: 0.8rem;
}
